<%-include("./layout/admin header.ejs") %>  


<form action="/admin/coupons" method="post">


<div class="container">
    <div class="row justify-content-center">
<div class="col-sm-12 col-xl-6">
    <div class="bg-secondary rounded h-100 p-4">
        <h6 class="mb-4">Add Coupon</h6>
        <label for="floatingInput">Coupon Name</label>
        <input class="form-control mb-3" type="text" name="couponName" placeholder="Coupon Name"
            aria-label="default input example">
            <label for="floatingInput">Amount</label>
        <input class="form-control mb-3" type="number" name="amount" placeholder="Amount"
            aria-label="default input example">
            <label for="floatingInput">Min Purchase</label>
        <input class="form-control mb-3" type="number" name="minPurchase"  placeholder="MinPurchase"
            aria-label="default input example">
            <label for="floatingInput">Expiry Date</label>
        <input class="form-control mb-3" type="datetime-local" name="expirydate"  placeholder="Date"
            aria-label="default input example">
            <button type="submit" class="btn btn-primary mt-4">Submit</button>

    </div>
</div>
</div>
</div>
</form>

<%-include('./layout/admin footer.ejs') %> 